.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeHeader {
  width: 100%;
  text-align: center;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.welcomeText {
  text-align: center;
}

.jeremy {
  text-align: end;
  margin: 20px 50px 0 0;
}