.app {
  background-color: #413691;
  display: flex;
  justify-content: center;
}

.innerApp {
  background-color: #fffdfd;
  width: 90%;
}

.nav {
  position: sticky;
  top: 0;
  background-color: #fffdfd;
  z-index: 1000;
}

.logo {
  height: 52px;
  margin: 10px 0px 16px 35px;
}