.app {
  background-image: url("https://img.s-hawaiianairlines.com/static/images/brand/refresh/image-hero.jpg?version=c11e&sc_lang=en");
  display: flex;
  justify-content: center;
}

.innerApp {
  background-color: #fffdfd;
  width: 85%;
}

.logo {
  height: 52px;
  margin: 10px 0px 19px 25px;
}

.dropdownItem {
  font-size: 13px;
}

.title {
  color: black;
  margin: 0 12px 0 0;
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0.5px;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
