.app {
  background-image: url("https://hawaiianair.sharepoint.com/_api/v2.1/sites/hawaiianair.sharepoint.com,b841feb5-4f99-4f2d-8947-bc0f2c97b7a0,e0658bb1-5511-4e35-88d7-58cbebabb411/lists/7efc8457-9359-4bd4-841e-80b3fbdb9477/items/d6626615-5ded-4046-aee8-1a470bed049f/driveItem/thumbnails/0/c2560x99999/content?preferNoRedirect=true&prefer=extendCacheMaxAge&clientType=modernWebPart");
  display: flex;
  justify-content: center;
}

.innerApp {
  background-color: #fffdfd;
  width: 85%;
}

/* .nav {
  position: sticky;
  top: 0;
  background-color: #fffdfd;
  z-index: 1000;
} */

.logo {
  height: 52px;
  margin: 10px 0px 19px 25px;
}

.dropdownItem {
  font-size: 13px;
}

.title {
  color: black;
  margin: 0 12px 0 0;
  font-weight: 400;
  font-size: 20px;
}