.reviewContainer {
  border: 1px solid #80808021;
  width: 80%;
  list-style: none;
  margin: 10px;
  box-shadow: 2px 2px 2px #80808042;
}

.nameAndDate {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 23px;
  font-weight: 700;
}

.date, .categories, .text {
  font-size: 14px;
  font-weight: 300;
}

.nameAndDate, .categories, .text, .upvotes {
  margin: 20px 15px;
}
