.reviewContainer {
  width: 60%;
  list-style: none;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  padding: 15px;
}

.nameAndDate, .buttons{
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 23px;
  font-weight: 700;
}

.categories {
  font-size: 15px;
  font-weight: 300;
}

.text {
  font-size: 16px;
  font-weight: 400;
  margin: 25px 15px;
}

.category, .date {
  font-size: 14px;
  font-weight: 200;
}

.editAndDelete button {
  margin-right: 3px;
}

.btn {
  color: #d2068a;
  background: none;
  border: 1px solid #d2068a;
  border-radius: 10%;
  font-size: 12px;
}

.btn:hover {
  color: #fff;
  background: #d2068a;
}

.btn:disabled {
  color: #d2068b5e;
  border-color: #d2068b5e;
}

.btn:disabled:hover {
  background: none;
}