.reviewsContainer {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnAndSortContainer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  margin-top: 15px;;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}


.select:focus {
  box-shadow: none;
  border-color: #343a40;
}

.filterCategory {
  width: 60%;
  margin-top: 15px;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f0f0;
}

.btn {
  color: black;
  height: 20px;
  font-size: 13px;
  background: none;
  padding: 0 5px;
  /* border: 1px solid #343a40; */
  border: none;
}

.btn:hover, .btn:not(:disabled):not(.disabled):active, .btn:focus {
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

@media (max-width: 600px) {
  .btnAndSortContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 85px;
    margin-top: 0;
  }
  .share Button {
    width: 100%;
  }
  .filterCategory {
    width: 90%;
    height: 60px;
    align-items: center;
  }
}
